*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}


body {
  position: relative;
  min-height: 100vh;
  font-family: "Commissioner", sans-serif;
}

/* Header CSS start */
.pageHeader {
    background-image:linear-gradient(
        180deg,
        hsla(0, 0%, 0%, 0.7) 0%,
        hsla(0, 0%, 48%, 0.2) 50%
      ), url("../images/image-hero-desktop.jpg");
    background-size: 100vw;
    background-repeat: no-repeat;
    height: 27vw;
}
.headNav {
    display: flex;
    padding: 3.2vw 11.2vw;
}
.mainLogo {
    flex: 0 1 50%;
}
.logoSize {
    display: block;
    width: 13rem;
}
.mainNav {
    flex: 0 1 50%;
}
.menu {
    display: flex;
    list-style: none;
    justify-content: flex-end;
}
.menuOption {
    margin: 0 3rem;
}
.menuLink {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 500;
}
/* Header CSS end */

/* Home Page CSS start */
.homePage {
    background-color: #fafafa;
    height: 170rem;
    position: relative;
}
.intro {
    background-color: transparent;
    position: absolute;
    top: -6vw;
    min-width: 50vw;
    left: 50%;
    transform: translateX(-50%);
}
.aboutOrg {
    background-color: #ffffff;
    text-align: center;
    padding: 5rem;
    margin-bottom: 4rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem -0.8rem rgba(0, 0, 0, 0.3);
}
.orgLogo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
}
.orgName {
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}
.tagline {
    font-weight: 400;
    font-size: 1.6rem;
    color: hsl(0, 0%, 48%);
}
.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;
}
.support {
    background-color: hsl(176, 50%, 47%);
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 2rem 3.5rem;
    border: none;
    border-radius: 4rem;
    transition-duration: 0.5s;    
}
.support:hover {
    background-color: hsl(176, 72%, 28%);
}
.bookmark {
    position: relative;
}
.bookmarkBox {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: auto;
}
.bookmarkImg {
    position: absolute;
    height: 100%;
    width: auto;
}
.save {
    background-color: #f4f4f4;
    color: hsl(0, 0%, 48%);
    font-size: 1.5rem;
    font-weight: 700;
    padding: 2rem 2.5rem;
    padding-left: 6.5rem;
    outline: none;
    border: none;
    border-radius: 4rem;
}

/* Status CSS */
.status {
    background-color: #ffffff;
    padding: 5rem;
    margin-bottom: 4rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem -0.8rem rgba(0, 0, 0, 0.3);
}
.details {
    display: flex;
}
.info {
    margin-bottom: 4rem;
}
.info:nth-child(1){
    padding-right: 4rem;
}
.infoBorder {
    padding-left: 4rem;
    padding-right: 8rem;
    border-left: 0.1rem solid hsl(0, 0%, 48%);
    border-right: 0.1rem solid hsl(0, 0%, 48%);
}
.info:nth-child(3){
    padding-left: 4rem;
}
.infoTitle {
    font-size: 3.3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.infoText {
    color: hsl(0, 0%, 48%);
    font-weight: 400;
    font-size: 1.5rem;
}
.statusBar {
    position: relative;
    height: 1.2rem;
    border-radius: 4rem;
}
.statusTarget {
    background-color: #f4f4f4;
    position: relative;
    width: 100%;
    height: 1.2rem;
    top: 0;
    border-radius: 4rem;
    z-index: 25;
}
.statusProgress {
    background-color: hsl(176, 50%, 47%);
    position: absolute;
    width: 80%;
    height: 1.2rem;
    top: 0;
    border-radius: 4rem;
    z-index: 50;
}

/* About Section */
.about {
    background-color: #ffffff;
    padding: 5rem;
    margin-bottom: 4rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem -0.8rem rgba(0, 0, 0, 0.3);
}
.aboutTitle {
    font-size: 2rem;
    margin-bottom: 3rem;
}
.paraOne {
    font-weight: 400;
    font-size: 1.55rem;
    color: hsl(0, 0%, 48%);
    margin-bottom: 3rem;
}
.paraTwo {
    font-weight: 400;
    font-size: 1.55rem;
    color: hsl(0, 0%, 48%);
    margin-bottom: 2rem;
}

.fundCard{
    padding: 3rem;
    border: 0.1rem solid hsla(0, 2%, 53%, 0.3);
    border-radius: 1rem;
}
.cardHead {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}
.cardTitle {
    font-size: 1.8rem;
    font-weight: 700;
}
.cardPay {
    font-size: 1.5rem;
    color: hsl(176, 50%, 47%);
    font-weight: 500;
}
.cardReward {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.reward {
    display: flex;
    justify-content: center;
    align-items: center;
}
.rewardLeft {
    font-size: 3rem;
    font-weight: 700;
    margin-right: 1rem;
}
.rewardText {
    font-size: 1.4rem;
    font-weight: 400;
    color: hsl(0, 0%, 48%);
}
.supportFont {
    font-size: 1.3rem;
}
.cardMargin {
    margin: 2rem 0;
}
.cardOpacity {
    opacity: 0.6;
}
.supportBg {
    background-color: hsl(0, 0%, 48%);
}
/* Home Page CSS end */

/* Back this project */
.supportMenu {
    background-color: hsla(0, 0%, 0%, 0.6);
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: flex-start;
    padding-top: 18.5rem;
    z-index: 200;
}
.supportMenuShow {
    opacity: 1;
    display: flex;
}
.supportWindow {
    background-color: #ffffff;
    position: relative;
    opacity: 1;
    display: inline-block;
    max-width: 72rem;
    padding: 4.5rem;
    border-radius: 0.6rem;
}
.supportClose {
    position: absolute;
    top: 3rem;
    right: 3rem;
}
.supportTitle {
    font-size: 2.4rem;
    margin-bottom: 2rem;
}
.supportText {
    color: hsl(0, 0%, 48%);
    font-size: 16px;
    margin-bottom: 2rem;
}
.supportBox {
    padding: 2.5rem 0;
    border-radius: 0.6rem;
    border: 0.1rem solid hsla(0, 2%, 53%, 0.3);
    transition-duration: 0.25s;
}
.supportContent {
    padding: 0 2.5rem;
    padding-bottom: 2.5rem;
    display: block;
    grid-template-columns: repeat(2, 25%);
    grid-template-rows: repeat(2, auto);
}
.radioInfo {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    justify-content: space-between;
}
.radioOption {
    display: flex;
    align-items: center;
}
.radioBtn {
    width: 2rem;
    height: 2rem;
    transform: translateY(0.2rem);
}
.radioTitle {
    margin-left: 2rem;
    font-size: 1.6rem;
    font-weight: 700;
}
.supportContentText {
    padding-left: 4rem;
    color: hsl(0, 0%, 48%); 
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.5rem;
}
.supportBoxMargin {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.pledge {
    color: hsl(176, 50%, 47%);
    margin-left: 2rem;
    font-size: 1.6rem;
    font-weight: 700;
    display: inline-block;
}
.radioEnd {
    display: flex;
    justify-content: space-between;
    padding-right: 2rem;
}
.pledgeAlign > span {
    padding-left: 0.5rem;
    color: hsl(0, 0%, 48%); 
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.5rem;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }